<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" username="taotao" password="taotao" port="5672" virtual-host="/taotao"/>
    <rabbit:admin connection-factory="connectionFactory"/>
    <rabbit:topic-exchange name="TAOTAO-ITEM-EXCHANGE" auto-declare="true" durable="true">
    </rabbit:topic-exchange>
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="TAOTAO-ITEM-EXCHANGE"/>
</beans>